@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* margin: auto; */
}
img{
    height: 100%;
}
.header{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 6.25rem;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}
.navbar > img{
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}
.vertical_seperator{

    width: 1px;
    height: 20px;
    background: #e0e0e0;
    color: #e0e0e0;
    margin: 0 3.375rem 0 4rem;
}
.navbar ul{
    display: flex;
    gap: 40px;
    /* margin: auto; */
    /* height: 22px; */
    font-size: small;
}

.navbar ul li{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.nav--mid{
    margin: auto;
}
.nav-bus-ticket{
    border-radius: 8px;
    color: white;
    background-color: #d84e55;
    /* height: 100%;
    width: 100%; */
}
.nav-bus-ticket img{
    height: 29px;
    padding: 4px;
    filter: brightness(0) invert(1);
}
.nav-bus-ticket:last-child{
    font-weight: 500;
}
.nav--end{
    font-size: 14px;
    font-weight: 500;
    color: #1d1d1d;
    display: flex;
    margin-left: auto;
}
.nav--end > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav--end >ul >li{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-size: small;
}

/* Footer */
#footer{
    display: flex;
    justify-content: space-around;
}

.socials{
    display: flex;
    gap: 1.5rem;
}

/* Section one */
.sectionOne{
    display: flex;
    text-align: center;
    background-image: url(./assets/HeroImageV2_C.png);
    height: 32.5rem;
    width: 100%;
    background-size: cover;
}
.section-one-heading{
    color: white;
}