@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    margin: auto;
}
img{
    height: 100%;
}
.navbar{
    display: flex;
    height: 80px;
    justify-content: space-around;
    padding: 10px 50px;
}

.navbar ul{
    display: flex;
    gap: 40px;
    margin: auto;
    height: 22px;
    font-size: small;
}

.navbar ul li{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nav--mid{
    margin: auto;
}

.nav--end{
    display: flex;
    margin: auto;
}
.nav--end > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav--end >ul >li{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-size: small;
}

/* Footer */
#footer{
    display: flex;
    justify-content: space-around;
}

.socials{
    display: flex;
    gap: 1.5rem;
}

/* Section one */
.sectionOne{
    background-image: url(./assets/HeroImageV2_C.png);
    height: 200px;
    width: 100%;
    background-size: cover;
}